button {
  padding: auto;
  width: 150px;
  height: 150px;
  background-color: black;
  color: white;
}

img {
  width: 100px;
  height: 100px;
  filter: invert();
  animation: .2s img_appearese linear;
}

@keyframes img_appearese {
  from {
    transform: scale(0.9);
  }

  50% {
    transform: scale(1.1);
  }

  to {
    transform: scale(1);
  }
}

.disabled {
  cursor: default;
}

.victoryBlink {
  animation: .3s victoryBlinking linear infinite;
}

@keyframes victoryBlinking {
  from {
    filter: invert();
  }

  50% {
    filter: none;
  }

  to {
    filter: invert();
  }
}

@media (max-width: 500px) {
  button{
    width: 30vw;
    height: 30vw;
  }

  img{
    width: 70%;
    height: 70%;
  }
}