* {
  color: white;
  font-family: 'Montserrat', sans-serif;
}

#wrapper {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  gap: 20px;
}

#field,
.row {
  display: flex;
  gap: 3px;
}

#field {
  background-color: white;
  flex-direction: column;
}

.gg{
  height: 30px;
  display: flex;
  align-items: center;
  gap: 20px;
}

#next{
  font-size: 30px;
}

.blink {
  animation: .2s blinking linear infinite;
}

@keyframes blinking {
  from {
    background-color: white;
  }

  50% {
    background-color: black;
  }

  100% {
    background-color: white;
  }
}

#reset_btn {
  width: 200px;
  height: 50px;
  border: 1px solid white;
  transition: .2s linear;
}

#reset_btn:hover {
  border-color: blueviolet;
}

#wr {
  height: 30px;
}

#players_info {
  display: flex;
  gap: 100px;
}

.sector {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.sector span:nth-child(2) {
  font-size: 25px;
  font-weight: bold;
}

@media (max-width: 500px) {
  #players_info{
    gap: 10vw;
  }
}